p{
  font-family: 'Source Sans Pro', sans-serif;
	font-size: 11pt;
	margin-top: 0px;
}

h1{
  font-family: 'Source Sans Pro', sans-serif;
	font-size: 20pt;
	font-weight: 700;
	line-height: 1;  
	margin-bottom: 0px;
	
	
}
h2{
  font-family: 'Source Sans Pro', sans-serif;
	font-size: 16pt;
	line-height: 1.4em; 
	border-bottom: 2px solid black
	
}
h3{
  font-family: 'Source Sans Pro', sans-serif;
	font-size: 12pt;
	line-height: 1.4em;  
	margin-bottom: 5px;
	margin-top: 20px;
}
h4{
  font-family: 'Source Sans Pro', sans-serif;
	font-size: 13pt;
	font-weight: 600;
	margin-bottom: 1px;
	margin-top: 5px;

}
ul{
  font-family: 'Source Sans Pro', sans-serif;
	font-size: 11pt;
	line-height: 1.4em;  
}